/* общие настройки */
*{	
	margin:0; padding:0; /* убираем стандартные выравнивания */
}
img{	
	border:none; /* убираем рамку-ссылку для изображений в IE */
}
body{	
	background:#FFF7EA; /* основной фон */
}


/* блок main */
.main{	
	background:#fff;
	width:1000px; /* возможность растягивания */
	margin:auto; /* выравниваем сайт по центру */
	overflow:hidden; /* выравниваем границы фона по максимальному элементу */
	border:2px solid #de6700;
	border-radius:10px 10px 10px 10px;
}
	/* шапка */
	.header{
		overflow:hidden; /* выравниваем границы шапки по максимальному элементу */
	}
		/* картинка логотипа */
		.logo{						
			float:left;
			margin:20px 50px 20px 50px; /* отступы сверху, справа, снизу, слева */
		}
		/* картинка с названием сайта */
		.slogan{
			float:left; /* расположение слева */
			margin:20px 0 20px 50px;
		}
		/* правая часть шапки */
		.header_right{
			float:right; 
			width:250px;
		}
			/* какой-нибудь инфо блок */
			.info{
				float:right; 
				margin:20px 0 0 0;
			}
			/* поиск */
			.search-head{
				float:right;
				width:250px; height:25px;
				margin:25px 0 0 0;
			}
				/* текст в форме поиска */
				.search-text{
					float:left;
					border:none; /* убираем стандартную рамку формы поиска */
					margin:2px 0 0 2px;
					padding-left:5px; 
					width:165px; 
					height:21px;
					font-size:15px;	
					border: 2px solid #de6700;
					border-radius:5px 0 0 5px;
					border-right-style:none;
					outline: none;
				}
				/* кнопка "найти" */
				.search-btn{
					margin:2px 0 0 0;
					border: 2px solid #de6700;
					border-right-style:none;
					outline: none;
				}
			
	/* строка меню */
	.menu{		
		background:url(images/menu-bg.jpg) repeat-x;
		display:table-row; /* отображать в виде таблицы */
	}
		.menu li{
			display:table-cell; /* элемент представляет собой ячейку таблицы */
			width:auto; text-align:center;
			height:50px;
			border:2px solid #de6700; /* настройка рамки */
			border-top-color,border-bottom-color:#de6700;
			border-left-color:#ffcb9e; 
			border-right-color:#de6700;
		}
		/* не отображаем крайнии левую и правую границы */
		.menu li:first-child{
			border-left-style:none;
		}
		.menu li:last-child{
			border-right-style:none;
		}
		/* изменение цвета при наведении */
		.menu li:hover{
			background: url(images/menu-bg-light.png) center no-repeat;
		}
		.menu li a{
			display:block; /* нельзя добавить другой элемент, даже когда остаётся пустое пространство */
			width:1000px; height:50px; vertical-align:middle;
			display:table-cell;
			font:18px Verdana, Geneva, sans-serif; color:#000;
			text-decoration:none; /* убираем подчеркивание */
		}
		
/* блок center */
.center{
	display:table;	
	width:1000px;	
	min-height:1000px;
}
	.content{		
		display: table-row;
		list-style:none;
	}	
		/* левый столбец */
		.left-bar{
			display: table-cell;
			float:left;
			width:25%;
		}
			.left-bar-cont{			 
				margin:6px 0 0 0;
			}
				/* стиль блоков */
				.catalog, .information{
					margin:0 0 10px 0;
					border: 2px solid #de6700;
					border-radius:0 5px 5px 0;
					border-left-style:none;
					background:#f0f0f0;
				}
					/* заголовки блоков */
					.catalog h2, .information h2{
						font:normal 18px Verdana, Geneva, sans-serif;
						background:url(images/menu-bg.jpg) repeat-x; height:40px;
						text-align:center;
						border-bottom:2px solid #de6700;
					}				
						.catalog h2 span, .information h2 span{
							display:block; padding:8px 0 5px 0;
						}
					/* основная часть блоков */
					.catalog ul{
						font:15px Verdana, Geneva, sans-serif;					
					}
					.information ul{
						font:15px Verdana, Geneva, sans-serif;
						list-style:none;
					}
						.nav-catalog{
							padding:10px 10px 20px 40px;
						}
						.nav-information{
							padding:10px 10px 20px 20px;
						}
							.nav-catalog ul{
								padding:5px 0 0 20px; 
								list-style:none;
							}
								.nav-catalog ul li{
									margin:0 0 5px 0;
								}
							.nav-catalog li{
								margin:0 0 10px 0;
							}						
							.nav-catalog li a, .nav-information li a{
								color:#000;
								text-decoration:none;
							}
							.nav-catalog li a:hover, .nav-information li a:hover{
								color:#c55c03;
							}
		
		/* центральный столбец */	
		.catalog-index{
			display: table-cell;
			float:left;
			width:50%;
		}
			/* область одного товара */
			.product-index{
				text-align:center;
				width:250px;
				float:left;
				margin:15px 0 15px 0;
			}
				/* название товара */
				.product-index h2{
					font:14px Verdana, Geneva, sans-serif; 
					margin:0 0 10px 0;
				}
					/* цвет названия товара */
					.product-index h2 a{
						color:#000;
						text-decoration:none;
					}
						.product-index h2 a:hover{
							color:#c55c03;
						}
				/* цена товара */
				.product-index p{
					font:bold 12px Verdana, Geneva, sans-serif; 
					margin:0 0 10px 0;
				}
					.product-index p span{
						font:20px Verdana;
					}
				.product-index img, .product-table img{
					width:150px;
					height:250px;
				}
				.product-line img{
					width:90px;
					height:150px;
				}
	
				
		/* правый столбец */
		.right-bar{
			display: table-cell;
			float:left;
			width:25%;
		}
			.right-bar-cont{
				margin:6px 0 0 0;			
			}
				/* стиль блоков */
				.enter, .basket, .share-search{
					margin:0 0 10px 0;
					border: 2px solid #de6700;
					border-radius:5px 0 0 5px;
					border-right-style:none;
					background:#f0f0f0;
				}
					/* заголовки блоков */
					.enter h2, .basket h2, .share-search h2{
						font:normal 18px Verdana, Geneva, sans-serif;
						background:url(images/menu-bg.jpg) repeat-x; height:40px;
						text-align:center;
						border-bottom:2px solid #de6700;
					}
						.enter h2 span, .basket h2 span, .share-search h2 span{
							display:block; 
							padding:8px 0 5px 0;
						}
					/* основная часть блоков */
					.basket div, .share-search div{	
						font-family:Verdana, Geneva, sans-serif; 
					}
						/* стиль всех кнопок */
						#enter-btn, #basket-btn, #share-search-btn, #addfav-btn, #opis-btn{						 
							background: url(images/btn-index.jpg) center no-repeat;
							width:170px; height:30px;
							border-radius:5px;
							margin:15px 0 15px 40px;
							text-align: center;
							font:bold 14px Verdana, Geneva, sans-serif;
							line-height:30px;
							border:1px solid #d4d6d5;
							outline: none;
							cursor:pointer;	
							overflow:hidden;					
						}
						#enter-btn, #basket-btn, #addfav-btn{
							font-size:12px;
							line-height:30px;
						}
							#enter-btn:hover, #basket-btn:hover, #share-search-btn:hover, #addfav-btn:hover, #opis-btn:hover{
								background: url(images/btn-index-light.jpg) center no-repeat;
							}
							#enter-btn a, #basket-btn a, #share-search-btn a, #addfav-btn a, #opis-btn a{
								text-decoration:none;
								padding:6px;
								color: #000;
							}
						/* текст для избранного */
						.basket div p{
							padding:15px 0 0 20px; 
							font-size:15px/1.8;
						}
						/* текст для формы подбора */
						.share-search div p{
							padding:15px 0 10px 20px;
						}
						/* выбор категории для формы подбора */
						.share-search div select{
							font-size:14px;
							width:225px;
							height:24px;
							outline: none;						
						}
						/* ввод цены для формы подбора */
						.podbor-price{
							width:55px;
							text-align:right;
							height:20px;						
							outline: none;
							padding-right:5px;
							font-size:16px;
						}
						/* отступы для полей ввода */
						.form-edit{
							margin-left:12px;
						}
						
	/* футер */
	.footer{
		clear:both;
		background:#fff;
		color:#c24102;;
		margin:auto;
		overflow:hidden;
		border-top:2px solid #de6700;
		font:bold 14px Verdana, Geneva, sans-serif;
	}
		.flogo{
			float:left; margin:20px 6px 0 6px;
		}
			.flogo p{
				margin:10px 0 0 10px;
			}
		.finfo{
			float:right; margin:20px 9px 0 0;
		}
			.finfo p{
				margin:0 0 6px 10px;
			}
			.finfo div{
				margin:14px 0 0 10px;
			}
			.finfo a{
				color:#c24102;
			}
				.finfo a:hover{
					text-decoration:none;
				}
		.fmenu{
			float:left;			
			overflow:hidden;
			width:500px;
			padding-bottom:15px;	
		}
			.fmenu p{
				text-align:center;
				margin:20px 0 5px 0;
			}
			.fmenu ul{
				float:left;
			}
				.ul1{
					margin:0 170px 0 95px;
				}
				.fmenu ul li{
					margin-bottom:10px;
				}
				.fmenu ul a{
					color:#c24102;
				}
				.fmenu ul a:hover{
					text-decoration:none;
				}				

/* Каталог линейный вид */
	/* Дерево каталога */
	.kroshka{
		font:14px Verdana, Geneva, sans-serif;
		margin:20px 0 10px 15px;
	}
		.kroshka span{
			color:#de6700;
		}
		.kroshka a{
			color:#555;
		}
		.kroshka a:hover{
			text-decoration:none;
		}
	
	/* строка сортировки */
	.vid-sort{
		font:12px Verdana, Geneva, sans-serif;
		background:#fcfcfc; 
		border-bottom:1px solid #dee7ec;
		margin:0 15px 30px 15px;
		padding:10px 0 10px 2px;
	}
		.vid-sort img{
			margin:0 2px; position:relative; top:3px;
		}
		.vid-sort a{
			color:#888;
		}
		.vid-sort a:hover{
			text-decoration:none;
		}
		a.sort-top{
			background:url(images/sort-top.gif) left 6px no-repeat; 
			padding:0 0 0 12px;
		}
		a.sort-bot{
			background:url(images/sort-bot.gif) left 6px no-repeat; 
			padding:0 0 0 12px;
		}
		a.sort-top-act{
			background:url(images/sort-top-act.gif) left 6px no-repeat; 
			padding:0 0 0 12px; color:#000;
		}
		a.sort-bot-act{
			background:url(images/sort-bot-act.gif) left 6px no-repeat; 
			padding:0 0 0 12px; color:#000;
		}
		
	/* товар в линейном каталоге */
	.product-line{
		height:160px;
		overflow:hidden; 
		margin:10px 15px 15px 15px;
		font:12px Verdana, Geneva, sans-serif;
		border-bottom:1px solid #d4d6d5;
	}
		/* картинка */
		.product-line-img{
			float:left;
			width:90px; height:150px;
			overflow:hidden;
			margin-right:10px;
		}
		/* название и цена */
		.product-line-header{
			float:left;
			width:370px;
		}
			.product-line-header h2{
				float:left;
				margin-right:175px; 
				line-height:0.8;
			}
				.product-line-header h2 a{					;
					color:#de6700;
					text-decoration: none;
				}
					.product-line-header h2 a:hover{					
						color: #FC7A10;
					}
			.product-line-header p{
				float:left;
			}
				.product-line-header p span{					
					font-size:16px;
					line-height:0;
				}				
		/* описание */
		.product-line-body{
			float:left;
			width:370px; height:85px;
			overflow:hidden;
			margin-top:10px;
		}
		/* подроднее и добавление */
		.product-line-footer{
			float:left;
			width:370px;
			overflow:hidden;
			margin-top:5px;
		}
			.product-line-footer p{
				float:left;
				margin:15px 165px 0 0;
			}
				.product-line-footer p a{					;
					color:#000;
				}
					.product-line-footer p a:hover{					
						color: #de6700;
					}
			#product-line-btn, #product-table-btn{
				float:left;					 
				background: url(images/btn-index.jpg) center no-repeat;
				width:110px; height:20px;
				border-radius:5px;
				text-align: center;
				line-height:15px;
				border:1px solid #d4d6d5;
				overflow:hidden;
				margin-top:10px;
			}
				#product-line-btn:hover, #product-table-btn:hover{
					background: url(images/btn-index-light.jpg) center no-repeat;
				}
				#product-line-btn a, #product-table-btn a{
					text-decoration:none;
					color: #000;
				}
						
	/* постраничная навигация */
	.pager{
		font:15px Verdana, Geneva, sans-serif;
		background:#fcfcfc; 
		border-top:1px solid #dee7ec;		
		color:#de6700; 
		padding:5px; 
		margin:0 15px 15px 15px;
	}
		.pager a{
			color:#888;
			padding:0 3px;
		}
		.pager a:hover{
			text-decoration:none;
		}
		.pager img{
			position:relative; 
			top:5px;
		}

/* Каталог табличный вид */
	/* товар в табличном каталоге */
	.product-table{
		float:left; 
		width:33%; 
		text-align:center; 
		margin:0 0 20px 0;
		font:12px Verdana, Geneva, sans-serif;
	}
		/* название */
		.product-table h2{ 
			margin:0 0 10px 0;
			font-size:14px;
		}
			.product-table h2 a{
				color:#de6700;
				text-decoration: none; 
			}
			.product-table h2 a:hover{
				color: #FC7A10;
			}
		/* цена и подробнее */
		.product-table p{
			margin:10px 0;
		}
			.product-table p span{
				font-size:16px;
			}
			.cat-table-more a{
				color:#000;
			}
				.cat-table-more a:hover{
					color: #de6700;
				}
		#product-table-btn{			 
			margin:0 25px;
		}
		
/* Текст */
	.content-txt{
		overflow:hidden; 
		font:14px Verdana, Geneva, sans-serif; 
		color:#000; 
		margin:0 15px;
		line-height:20px;
	}
		.content-txt h2{
			text-align:center;
			font-size:20px; 
			color:#de6700; 
			font-weight:normal; 
			margin:20px 0 15px 0;
		}
		.content-txt a{
			color:#c24102;
			font-size:13px;
		}
			.content-txt a:hover{
				text-decoration:none;
			}
	
/* Детальный каталог */
	.catalog-detail{
		overflow:hidden; font:12px Verdana, Geneva, sans-serif; color:#000; margin:0 15px;
	}
	.catalog-detail h1{
			font-size:24px; color:#de6700; font-weight:normal; margin:0 0 15px 0;
		}
		
	/*		Galery		*/
	
	#slideshow {list-style:none; color:#fff}
	#slideshow span {display:none}
	#wrapper {width:200px; margin:0; display:none; overflow:hidden; float:left;}
	#wrapper * {margin:0; padding:0}
	#fullsize {position:relative; width:200px; height:300px; padding:2px; border:2px solid #fff;}
	#information {position:absolute; bottom:0; width:200px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
	#information h3 {padding:0; font-size:0;}
	#information p {padding:0}
	#image {width:200px}
	#image img {position:absolute; z-index:25; width:auto}
	.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
	#imgprev {left:0; background:url(images/left.gif) left center no-repeat}
	#imgnext {right:0; background:url(images/right.gif) right center no-repeat}
	#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
	.linkhover {background:url(images/link.gif) center center no-repeat}
	#thumbnails {margin-top:15px}
	#slideleft {float:left; width:20px; height:50px; background:url(images/scroll-left.gif) center center no-repeat;}
	#slideleft:hover {background:url(images/scroll-lefth.gif) center center no-repeat;}
	#slideright {float:right; width:20px; height:50px; background:url(images/scroll-right.gif) center center no-repeat;}
	#slideright:hover  {background:url(images/scroll-righth.gif) center center no-repeat;}
	#slidearea {float:left; position:relative; width:150px; margin-left:5px; height:81px; overflow:hidden}
	#slider {position:absolute; left:0; height:81px}
	#slider img {cursor:pointer; border:1px solid #666; padding:2px}
	
	.icon-detail{
		margin:0 0 10px 210px;
	}
	.opis{
		margin:0 0 40px 218px;
	}
		.opis h3{
			font-size:18px;
		}
		.opis p{
			font-size:14px; 
			margin:10px 0;
		}
		.price-detail span{
			font-size:20px;
		}
		#opis-btn{
			margin-bottom:20px;
		}